@import "bootstrap";

.clear {
  clear: both;
}

h1 {
  color: #FA5D8F;
  font-size: 150px;
  font-weight: normal;
  margin-top: 150px;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, sans-serif;

}

body {
  background: image_url('pink_rice.png');
}

.navbar {
  background: image_url('cork-board.png');
  box-shadow: 0px 0px 2px #2a2a2a;
}

.navbar-inverse .navbar-brand {
  color: #1D2D8E
  }

.my_headline_font_size {
  font-size: 24px;
}