@import "bootstrap";

h1{
  color: #F54D82;
  font-size: 50px;
  font-weight: normal;
  margin-bottom: 0;
  text-align: center;
  border-radius: 5px;
  border-style: solid;
  border-color: #F5F4B6;

}

h2{
  color: #14943F;
  font-size: 50px;
  font-weight: normal;
  margin-top: 40px;
}

body {
  background: image_url('pink_rice.png');
}